body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: block;
}


.img-div {
	height: calc(100%/3*2);
	width: 100%;
}

.thirds {
	height: calc(100%/3);
	width: 100%;
	display: flex;
}

.hidden-div {
	height: 50%;
	width: 100%;
	display: flex;
	
}

.hidden-box {
	height: 100%;
	width: 25%;
	display: ;

}
.half-vert-left {
	height: 100%;
	width: 50%;
	display: block;
}
.half-vert-right {
	height: 100%;
	width: 50%;
	display: flex;
}
	
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }


.letter-constraint {
	height: 30%;
	width: 15%;
	padding: 3px;
}

/* When possible, organize CSS classes in alphabetical order */

.opaque {
	opacity: 0;
}

.light {
	opacity: 0.5;
}


.background {
	background: url('images/gulag.jpg');
	background-repeat: repeat-x;
	background-position: center;
}
.stalinbackground {
	background: url('images/stalinhint.png');
	background-repeat: repeat-x;
	background-position: center;
}

/* following 7 classes give colors to divs, used when creating initial layout & for divs holding hints */
.yellow {
	background-color: #FFEA4F;
}

.blue {
	background-color: #7AE8D1;
}

.grey {
	background-color: #73888A;
}

.salmon {
	background-color: #FF5755;
}

.perriwinkle {
	background-color: #8790E8;
}

.green {
	background-color: #8BFF69;
}

.lavender {
	background-color: #B17EE8;
}

/* following two classes determine flex or block display */
.block {
	display: block;
}
.flex {
	display: flex;
}

/* following four classes determine an element's placement within its parent div, used to place question marks */
.center-content {
	align-items: center;
	justify-content: center;
	display: flex;
}
.left-bottom {
	align-items: flex-end;
	justify-content: flex-start;
	display: flex;
}
.right-bottom {
	align-items: flex-end;
	justify-content: flex-end;
	display: flex;
}

.left-top {
	align-items: flex-start;
	justify-content: flex-start;
	display: flex;
}

/*restrict's an element's size to its parent div */

.restrict {
	max-height: 100%;
	max-width: 100%;
}
